{
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@/(.*)$",
    "^(components|pages|routes|services|test)(/.+)?$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
